/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,700,900|Open+Sans:300,600,700);
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Lato", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 15px;
$large-size: 32px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: grey;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$sweetlife: #e9c9b5;
$culture: #9dc3d4;
$cinema: black;
$balade: #adcdc2;
$lavieenrose: #e3868f;
$spectacle: #ff1744;
$musique: #32B796;
$voyage: #7accb8;
$exposition: #818F84;
$sensation: #00b2ca;
$fun: #D9CE52;
$sport: #FF8812;
$plaisir: #00FBE4;
$spiritualite: #4F84C4;
$food: #A31A3B;
$engagement: #967643;


// Gray scale
$grey-darker:  lighten(#000, 13.5%); // #222
$grey-dark:    lighten(#000, 20%);   // #333
$grey:         lighten(#000, 33.5%); // #555
$grey-light:   lighten(#000, 46.7%); // #777
$grey-lighter: lighten(#000, 93.5%); // #eee
