/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900,100|Open+Sans:400,300,600);
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Roboto", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$large-size: 32px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$lecture: #e9c9b5;
$culture: #9dc3d4;
$cinema: #795549;
$balade: #adcdc2;
$lavieenrose: #e3868f;
$spectacle: #191414;
$musique: #26c446;
$voyage: #7accb8;
$exposition: #154F8B;
$sensation: #00b2ca;
$fun: #f9cb11;
$sport: #ff3d00;
$wellness: #00FBE4;




// Gray scale
$grey-darker:  lighten(#000, 13.5%); // #222
$grey-dark:    lighten(#000, 20%);   // #333
$grey:         lighten(#000, 33.5%); // #555
$grey-light:   lighten(#000, 46.7%); // #777
$grey-lighter: lighten(#000, 93.5%); // #eee
