/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.home-bandeau {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;


  &-content {
    position: relative;
    color: $grey-dark;
    line-height: 1.1;

    p {
      padding: 20px 0px 10px 0px;
      font-size: 14px;
      font-weight: 700;
      // line-height: 1.1;
    }
  }
}

