<div class="analytics">
  <span>
    <i class="fa fa-heart"></i>
    <span id="toDoCount">
      <%= current_user.experiences_to_do_count %>
    </span>
  </span>
    <span>
    <i class="fa fa-check"></i>
    <span id="doneCount">
      <%= current_user.experiences_done_count %>
    </span>
  </span>
</div>

