<div class="card">
  <div class="card-title">
  </div>
  <div class="card-image" style="background-image:url('images/home.jpg')">
  </div>
  <div class="card-user">
    <span>Inspired by</span>
    <div class="card-user-avatar"></div>
  </div>
</div>
