<div class="card">
  <div class="card-title">
    <%= experience.adventure.title.capitalize %>
    <%= link_to "salut", experiences_path(param1: 'coucou', params2: 'salut'), method: :post %>
  </div>
  <div class="card-image" style="background-image:url('http://unsplash.it/400/400?')">
  </div>
  <div class="card-user">
    <span>Inspired by</span>
    <div class="card-user-avatar"></div>
  </div>
</div>
