
<div class="board-item">
  <%= link_to experiences_path do %>
    <i class="fa fa-search"></i>
    <div class="board-item-text">Sélection</div>
  <% end %>
</div>
<div class="board-item">
  <%= link_to account_experiences_path do %>
    <i class="fa fa-random"></i></i><br>
    <div class="board-item-text">Expériences</div>
  <% end %>
</div>
<div class="board-item">
  <%= link_to new_adventure_path do %>
    <i class="fa fa-plus-circle"></i><br>
    <div class="board-item-text">Ma to do</div>
  <% end %>
</div>
<div class="board-item">
  <%= link_to new_adventure_path do %>
    <i class="fa fa-circle"></i><br>
    <div class="board-item-text">Mon album</div>
  <% end %>
</div>


