
<div class="board-item">
  <%= link_to experiences_path do %>
    <i class="fa fa-search"></i>
    <div class="board-item-text">Explorer</div>
  <% end %>
</div>
<div class="board-item">
  <%= link_to account_experiences_path do %>
    <i class="fa fa-circle"></i><br>
    <div class="board-item-text">Me développer</div>
  <% end %>
</div>
<div class="board-item">
  <%= link_to new_adventure_path do %>
    <i class="fa fa-plus-circle"></i><br>
    <div class="board-item-text">Créer</div>
  <% end %>
</div>

