<ul class="footbar list-inline">
  <li>
    <%= link_to experience_path(id:1) do %>
      <i class="fa fa-search"></i><br>
      Search
    <% end %>
  </li>
  <li>
    <%= link_to account_experiences_path do %>
      <i class="fa fa-circle"></i><br>
      My vision board
    <% end %>
  </li>
  <li>
    <%= link_to new_adventure_path do %>
      <i class="fa fa-plus-circle"></i><br>
      Create
    <% end %>
  </li>
</ul>
