<!-- Experience title-->
<div class="list-item-image">
  <%= image_tag(experience.adventure.picture, class: 'img-square small') %>
</div>
<div class="list-item-title">
  <%= experience.title %>
</div>

