<!-- Experience title-->
<div class="list-item-image" style="background-image:image-url(<%experience.adventure.picture%>)"></div>
 <!--  <%= image_tag(experience.adventure.picture, class: 'img-square small width-cover') %> -->

<div class="list-item-title">
  <%= experience.title %>
</div>

