<!-- Experience title-->

<div class="list-item" style="background-image: url('<%= experience.adventure.picture.url %>');" data-target="<%=experience.id%>">
  <div class="list-item-content"><%= experience.title %></div>
  <div class ="list-item-category <%=experience.category%>"></div>
  <div class="banner-shadow"></div>
</div>









