<!-- Experience Main Informations View -->
<div class="container">
  <div class="row">
    <div class="category">
      <%= @experience.category %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="experience-card" id="experience_<%= @experience.id %>">
        <%= render 'shared/card', experience: @experience %>
      </div>
    </div>
  </div>
</div>
