<!-- Start date -->
<div class="experience-details-card-item">
  <i class="fa fa-calendar"></i>
  <span><%= @experience.adventure.start_date %></span>
</div>
<!-- End date -->
<div class="experience-details-card-item">
  <i class="fa fa-calendar"></i>
  <span><%= @experience.adventure.end_date %></span>
</div>
<!-- Duration -->
<div class="experience-details-card-item">
  <i class="fa fa-hourglass-start"></i>
  <span><%= @experience.adventure.duration %></span>
</div>
<!-- Description -->
<div class="experience-details-card-item">
  <span>
    <i class="fa fa-align-justify"></i>
    <% @experience.adventure.description %>
  </span>
</div>
<!-- Address -->
<div class="experience-details-card-item">
  <i class="fa fa-compass"></i>
  <span><%= @experience.adventure.address %></span>
</div>
