<div class="home-banner text-center">
  <div class="home-banner-shadow"></div>
  <div class="home-banner-content ">
    <h1>Vivez vos expériences</h1>
    <p>créez vos to-do lists d'expériences et gardez en mémoire les expériences marquantes de votre vie</p>
      <%= link_to 'Générer des expériences aléatoires', experiences_path, class:"btn btn-danger btn-lg" %>
  </div>
</div>

<script>
  $(function() {
  $( "#datepicker" ).datepicker();
  });
</script>



