<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="banner text-center">
        <!-- <div class="banner-shadow"></div> -->
        <div class="banner-content">
          <h1>Vivez vos expériences</h1>
          <p>Very cool stuff, useful and smart</p>
          <a class="btn btn-primary btn-lg">GET IT</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
     <%= render 'shared/card' %>
  </div>
</div>



<script>
  $(function() {
  $( "#datepicker" ).datepicker();
  });
</script>
