<div class="home-banner text-center">

  <div class="home-banner-shadow"></div>
  <div class="home-banner-content ">
    <h1>Vivez vos expériences</h1>
    <p>créez vos todo-lists et conservez les expériences marquantes de votre vie</p>
  </div>
  <div id="ghost-btn-holder">
    <%= link_to 'explorer', experiences_path, id: "ghost-btn" %>
  </div>
</div>

<div class= "home-bandeau-content text-center">
  <p>Quelles folies allez-vous faire ce mois-ci ?</p>
</div>

<div class="home-banner home-banner-foodie text-center">
  <div class="home-banner-shadow"></div>
  <div class="home-banner-content ">
    <h2>Foodie</h2>
  </div>
</div>
<div class="home-banner home-banner-sport text-center">
  <div class="home-banner-shadow"></div>
  <div class="home-banner-content ">
    <h2>Sport</h2>
  </div>
</div>
<div class="home-banner home-banner-sweetlife text-center">
  <div class="home-banner-shadow"></div>
  <div class="home-banner-content ">
    <h2>Sweet Life</h2>
  </div>
</div>
<div class="home-banner home-banner-evasion text-center">
  <div class="home-banner-shadow"></div>
  <div class="home-banner-content ">
    <h2>Evasion</h2>
  </div>
</div>
<div class="home-banner home-banner-spectacle text-center">
  <div class="home-banner-shadow"></div>
  <div class="home-banner-content ">
    <h2>Spectacle</h2>
  </div>
</div>


<div class= "home-bandeau-content text-center">
  <p>Créez vos expériences personnelles</p>
  <div class="ghost-btn-holder">
    <%= link_to 'créer', new_adventure_path, id: "exp-btn" %>
  </div>
</div>

<div class= "home-bandeau-content text-center">
  <p>Comment ça marche</p>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">trouver l'inspiration</div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">créer des albums souvenir</div>
      </div>
    </div>
 </div>

<script>
  $(function() {
  $( "#datepicker" ).datepicker();
  });
</script>



