<div class="banner text-center ">
  <div class="banner-shadow"></div>
    <div class="banner-content ">
      <h1>Vivez vos expériences</h1>
      <p>créez vos to-do lists d'expériences et gardez en mémoire les expériences marquantes de votre vie</p>
        <%= link_to 'Générer des expériences aléatoires', experience_path(id:10), class:"btn btn-danger btn-lg" %>
    </div>
  </div>
</div>

<script>
  $(function() {
  $( "#datepicker" ).datepicker();
  });
</script>



