<!-- <h1 class="box-red text-center padding-60">Découvrez toutes les expériences de votre réseau!</h1> -->
<div class = "container">
    <div class = "row" >
      <div class="col-xs-12 no-padding text-center ">
        <div class="large-experience-card" id="experience_<%= @experience.id %>">
          <%= render 'shared/card', experience: @experience %>
        </div>
      </div>
    </div>
</div>

