<!-- <h1 class="box-red text-center padding-60">Découvrez toutes les expériences de votre réseau!</h1> -->
<div class = "container">
  <div class = "row">
    <div class="col-xs-12 no-padding text-center">
      <%= render 'shared/analytics', experience: @experience %>
    </div>
  </div>
  <div class = "row" >
    <div class="col-xs-12 no-padding text-center ">
      <div id="experience_<%= @experience.id %>">
        <%= render 'shared/banner', experience: @experience %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 padding-0">
      <div class="board bg-transparent">
        <%= render 'shared/experience_selection_board', experience: @experience %>
      </div>
    </div>
  </div>
</div>

