<h1 class="text-center padded">Découvrez toutes les expériences de votre réseau</h1>
<div class = "container">
    <div class = "row" >
      <% @experiences.each do |experience| %>
      <div class="col-xs-12 col-sm-4 text-center">
            <%= render 'shared/card', experience: experience %>
      </div>
      <% end %>
    </div>

</div>

