<div class="experience-banner padded" style="background-image: url(<%= @experience.adventure.picture.url %>);">
  <h1><%= @experience.title %></h1>
  <p>inspired by <%= @experience.inspirer.first_name %></p>
</div>



