<div class="container text-center">
  <div class="row">
    <div class="category">
      <%= @experience.category %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/card', experience: @experience %>
    </div>
  </div>
  <div class="row">
    <ul class="list-inline large ">
      <li>
        <i class="fa fa-times padding-horizontal"></i>
      </li>
      <li>
         <i class="fa fa-heart padding-horizontal"></i>
      </li>
      <li>
        <i class="fa fa-check padding-horizontal"></i>
      </li>
    </ul>
  </div>
</div>

