.footbar {

  padding: 2.5px;
  background-color: white;
  display: flex;
  justify-content: space-around;

  li {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;

    i {
        font-size: 25px;
        padding: 0px 0px 10px 0px;
      }

    a {
      text-decoration: none;
      color: grey;
      &:hover {
        color: #D23333;
      }
    }
  }
}


