/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


// Images

.img-square {
  border-radius: 1px;
}

.width-30 {
  width: 30px;
}

.width-cover {
  width: 100%;
}

.height-cover {
  height: 100%;
}

.img-btn {
  width:50px;
  height: auto;
}
// button
.ghost-btn-white {
    display: inline-block !important;
    padding: 20px 30px 20px 30px !important;
    border-radius: 0.1em !important;
    line-height: 10px !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    font-size: 12px !important;
    border: 1px solid white !important;
    text-transform: uppercase !important;
    font-family: "lato" !important;
    font-weight: 300 !important;
    transition: all 0.3s ease !important;

    &:hover {
      color: darken(white, 10%);
      background-color: rgba(0, 0, 0, 0.3);
      border-color: (white, 10%);
    }
  }
  .ghost-btn-holder-banner{
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    z-index: 10;
  }

.ghost-btn-grey {
    display: inline-block;
    padding: 20px 30px 20px 30px ;
    border-radius: 0.1em;
    line-height: 10px;
    color: $grey-dark;
    // background-color: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    border: 1px solid $grey-dark;
    text-transform: uppercase;
    font-family: "lato";
    font-weight: 400;
    transition: all 0.3s ease;

    &:hover {
      color: lighten($grey-dark, 15%);
      background-color: darken(white, 12%);
      border-color: lighten($grey-dark, 15%);
    }
  }
.ghost-btn-holder-bandeau{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: 10;
  }

// Titles
h1 {
  font-size: 28px;
  margin: 0px;
  margin-bottom: 15px;
}
.box-red {
  box-shadow: 1px 1px 1px #8C8787;
  background-color:$red;
  color:white;
}

h2 {
  font-weight: 300;
  font-size: 25px;
  margin: 0px;
  padding: 20px;
  color: white;
}

// Icons
.fa-times {
  color: $blue;
}
.fa-heart {
  color: $red;
}
.fa-check{
}

// Texts

// Links
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.link-home {
  font-weight: 300;
  font-size: 25px;
  transition: all 0.3s ease;

  &:hover {
      color: darken(white, 15%) !important;
    }
  /* unvisited link */
  a:link {
      color: white !important;
  }
  /* visited link */
  a:visited {
      color: white  !important;
  }
  /* selected link */
  a:active {
      color: white  !important;
  }
}


.link-red {
  a:hover {
    color: $red;
  }
}

.hover-blue {
  a:hover {
    color: $blue;
  }
}
.hover-red {
  a:hover {
    color: $red;
  }
}

.hover-green{
  a:hover {
    color: $green;
  }
}

// Bootstrap fixings
.padding-0 {
  padding: 0px;
}

// Positions
.bottom-fit {
  position:absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.bottom-fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

// Paddings

.no-padding {
  padding: 0 !important;
}

.padding-bottom-20{
  padding-bottom: 20px;
}

.padding-20 {
  padding: 20px;
}
.padding-60 {
  padding: 60px;
}

.padding-horizontal-18 {
  padding-right: 18px;
  padding-left: 18px;
}

// Margin to take the footbar into account
.margin-footbar {
  margin-bottom: 50px;
}

.large {
  font-size: $large-size;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}

.bg-white {
  background: white;
}

.bg-transparent {
  background: rgba(0, 0, 0, 0.4);
}

.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.bg-deco {
  background-size: cover;
  height: 100hv !important;
  // display:block !important;
  // overflow:auto !important;
  background-position: center;
  color: white;
  padding-top: 70px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  h1 {
    padding-bottom: 20px;
  }
  &-new-adv {
    background-image: image-url('new_adventure.jpeg');
  }
  &-connect {
    background-image: image-url('inscription_background.jpeg');
  }
  &-profil {
    background-image: image-url('pink-sky.jpg');
  }
}

.full-screen {
  height: 100hv;
}

.bg-transparent {
  background: transparent;
}

// Background Colors for categories

.sweetlife {
  background: $sweetlife;
}
.culture {
  background: $culture;
}
.cinéma {
  background: $cinema;
}

.balade {
  background: $balade;
}
.la.vie.en.rose {
  background: $lavieenrose;
}
.spectacle {
  background: $spectacle;
}
.musique {
  background: $musique;
}
.voyage {
  background: $voyage;
}
.exposition {
  background: $exposition;
}
.sensation {
  background: $sensation;
}
.fun {
  background: $fun;
}

.plaisir {
  background: $plaisir;
}

.sport {
  background: $sport;
}
.spiritualité {
  background: $spiritualite;
}
.food {
  background: $food;
}
.engagement {
  background: $engagement;
}
