
<h2 class="text-center"><%= current_user.first_name%></h2>

<div class="container">

  <row>
    <div class="col-xs-12 text-center">
      <div class="bubble-container">
        <div class="category-bubble">
          <%=@categories.first + " " + @hash_count[@categories.first].to_s%>
          <%@categories.delete(@categories.first)%>
        </div>
      </div>
    </div>
  </row>

  <row>
    <% @categories.each do |category| %>
        <div class="col-xs-6 text-center">
          <div class="bubble-container">
            <div class="category-bubble"><%=category  + " " + @hash_count[@category].to_s%></div>
          </div>
        </div>
    <% end %>
  </row>

</div>






