
<h2 class="text-center"><%= current_user.first_name%></h2>

<div class="container">
  <row>
    <div class="col-xs-12 text-center">
      <div class="bubble-container <%#=@categories.first%>">
        <div class="category-bubble">
          <%=@categories.first%>
          <%@categories.delete(@categories.first)%>
        </div>
      </div>
    </div>
  </row>
    <% @categories.each do |category| %>
      <row>
        <div class="col-xs-6 text-center">
         <div class="bubble-container <%#=category%>">
           <div class="category-bubble"><%=category %></div>
         </div>
        </div>
      </row>
    <% end %>
</div>






