
<h2><%= current_user.first_name%></h2>

<% if @experiences != [] %>
  <ul>
    <% @experiences.each do |experience| %>
      <% (@categories ||= []) << experience.adventure.category %>
    <% end %>
    <% categories = @categories.uniq %>
    <% categories.each do |category| %>
      <li>You have experiences of <%= category%></li>
    <% end %>
  </ul>
<% else %>
  <span><%=@message %></span>
<% end %>





