.analytics {
  display:flex;
  padding: 20px;
  background-color: white;
  justify-content: space-around;
  // vertical-align: middle;
  i {
    font-size:60px;
  }

  p {
    font-szie:30px;
  }

  #toDoCount, #doneCount {
    font-size:30px;

  }

}
