.icon-badge-container {
  position: relative;
  font-size: 20px;
  width: 20px;
  color: grey;
}
.user-badge-container {
  position: relative;
  width: 30px;
}
.icon-badge, .user-badge {
    position: absolute;
    right: 16px;
    font-size: 10px;
    color: white;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: grey;

  &-twelve {
    right: 16px;
    top: -120px;
  }
  &-lecture {
    background: $lecture;
  }
  &-culture {
    background: $culture;
  }
  &-cinéma {
    background: $cinema;
  }
  &-la.vie.en.rose {
    background: $lavieenrose;
  }
  &-spectacle {
    background: $spectacle;
  }
  &-musique {
    background: $musique;
  }
  &-voyage {
    background: $voyage;
  }
  &-exposition {
    background: $exposition;
  }
  &-sensations {
    background: $sensation;
  }
  &-fun {
    background: $fun;
  }
  &-sport {
    background: $sport;
  }
  &-wellness {
    background: $wellness;
  }
}


.bubble-container {
  position: relative;
  background: grey;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 32px;
}

.category-bubble {
    color: white;
    position: absolute;
    top: 120px;
    left:0px;
    right:0px;
}
