.icon-badge-container {
  position: relative;
  font-size: 20px;
  width: 20px;
  color: grey;
}
.user-badge-container {
  position: relative;
  width: 30px;
}
.icon-badge, .user-badge {
    position: absolute;
    right: 16px;
    font-size: 12px;
    color: white;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: grey;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;

  &-twelve {
    right: 0;
    bottom: 0;
  }
  &-sweetlife {
    background: $sweetlife;
  }
  &-culture {
    background: $culture;
  }
  &-cinéma {
    background: $cinema;
  }
  &-la.vie.en.rose {
    background: $lavieenrose;
  }
  &-spectacle {
    background: $spectacle;
  }
  &-musique {
    background: $musique;
  }
  &-voyage {
    background: $voyage;
  }
  &-exposition {
    background: $exposition;
  }
  &-sensation {
    background: $sensation;
  }
  &-fun {
    background: $fun;
  }
  &-sport {
    background: $sport;
  }
  &-plaisir {
    background: $plaisir;
  }
  &-spiritualité {
    background: $spiritualite;
  }
  &-food {
    background: $food;
  }
  &-engagement {
    background: $engagement;
  }

}


.bubble-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
  color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 32px;
  background-position: center;
  background-size: cover;
}
.category-container{
    overflow: hidden;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    &-shadow {
      background-image: linear-gradient(150deg, rgba(200, 100, 10, 0.3) 30%, rgba(40,12,14,0.3) 50%);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
  }

}

.category-bubble-detail {
    color: white;
    font-size: large;
    // background-color: rgba(0, 0, 0, 0.4);
    height: 150px;
    line-height: 150px;
}
