.icon-badge-container {
  position: relative;
  font-size: 20px;
  width: 20px;
  color: grey;
}
.user-badge-container {
  position: relative;
  width: 30px;
}
.icon-badge, .user-badge {
    position: absolute;
    right: 16px;
    font-size: 10px;
    color: white;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: grey;

  &-twelve {
    right: 0;
    bottom: 0;
  }
  &-lecture {
    background: $lecture;
  }
  &-culture {
    background: $culture;
  }
  &-cinéma {
    background: $cinema;
  }
  &-la.vie.en.rose {
    background: $lavieenrose;
  }
  &-spectacle {
    background: $spectacle;
  }
  &-musique {
    background: $musique;
  }
  &-voyage {
    background: $voyage;
  }
  &-exposition {
    background: $exposition;
  }
  &-sensation {
    background: $sensation;
  }
  &-fun {
    background: $fun;
  }
  &-sport {
    background: $sport;
  }
  &-plaisir {
    background: $plaisir;
  }
  &-spiritualité {
    background: $spiritualite;
  }
  &-cuisine {
    background: $cuisine;
  }
}


.bubble-container {
  position: relative;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 32px;
  background-position: center;
  background-size: cover;
}
.category-container{
    overflow: hidden;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

}

.category-bubble-detail {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 150px;
  height: 50px;
  position: absolute;
  top: 120px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
