.home-banner {
  position: relative;
  // z-index: -1;
  background-size: cover;
  background-position: center;
  color: white;
  margin-bottom: 2px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  &-intro {
    background-image: image-url('home_banner.jpg');
  }

  &-foodie {
    background-image: image-url('food.jpg');
  }
  &-evasion {
    background-image: image-url('combi_evasion.jpeg');
  }
  &-sport {
    background-image: image-url('sport.jpeg');
  }
  &-spectacle {
    background-image: image-url('spectacle.jpg');
  }
  &-sweetlife {
    background-image: image-url('pecher.jpeg');
  }

  &-shadow {
    background-image: linear-gradient(150deg, rgba(200, 100, 10, 0.3) 30%, rgba(40,12,14,0.3) 50%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &-content {
    position: relative;
    z-index: 2;
    padding: auto;
    // line-height: 1.1;

    h1 {
        font-weight: 300;
        font-size: 25px;
        text-transform: uppercase;
    }
    h2 {
      font-weight: 300;
      font-size: 25px;
    }
    p {
      padding: 0px 0px 10px 0px;
      font-size: 14px;
      line-height: 1.1;
    }
  }
 }

.banner {
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 300px;
  color: white;
  a {
    color: white;
    :hover{
      color: white;
    }
  }

  &-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(-225deg, rgba(30, 10, 14, 0.3) 0%, rgba(40,12,14,0.3) 80%);
  }

  &-content {
    position:absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    display:flex;
    flex-flow:column;
    justify-content: center;
    z-index: 2;
    padding: 40px;

      h1 {
        padding: 0px;
        font-weight: 300;
      }
  }

  i {
    position:absolute;
    bottom:5px;
    z-index:2;
  }

  &-category {
    position: absolute;
    top: 17px;
    left: 0px;
    z-index: 2;
    padding: 5px 23px 5px 17px;
    border-radius: 2px;
  }

}
