.home-banner {
  background-image: image-url('home_banner.jpg');
  background-size: cover;
  color: white;
  padding: 100px;
  position: relative;
  height: 70%;
  z-index: 0;
  h1 {
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    font-size: 31px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 18px;
    color: white;
    line-height: 3;
    margin-bottom: 18px;
  }
  &-shadow {
    background-image: linear-gradient(-225deg, rgba(30, 10, 14, 0.3) 0%, rgba(40,12,14,0.3) 80%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &-content {
    position: relative;
    z-index: 2;
    line-height: 1.1;

    p {
      padding: 0px 0px 30px 0px;
      font-size: 17px;
      line-height: 1.1;
    }
  }

  .btn {
    margin-left: 10px;
    padding: 0 20px;
    border-radius: 0.3em;
    line-height: 40px;
    background-color: #D23333;
    color: white;
    font-size: 14px;
    border: 2px solid $brand-color;
  }
}

.experience-details-banner {
  position: relative;
  z-index: 0;
  padding: 20px 20px;
  background-size: cover;
  color: white;

  &-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(-225deg, rgba(30, 10, 14, 0.3) 0%, rgba(40,12,14,0.3) 80%);
  }

  &-content {
    position:relative;
    z-index: 2;
    h1 {
      padding: 20px 20px;
    }
  }

  &-category {
    position: absolute;
    top: 17px;
    left: 0px;
    z-index: 2;
    padding: 5px 23px 5px 17px;
    background-color: $red;
    border-radius: 2px;
  }
}
