.board {
  padding-top: 8.5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;

  &-item {
    text-align: center;
    font-size: 10px;

    i {
        font-size: 25px;
      }

    &-text {
      font-size: 9px;
      text-transform: uppercase;
    }
  }
}
