.board {
  padding-top: 8.5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  font-weight: 300;

  &-item {
    text-align: center;
    font-size: 10px;

    i {
        font-size: 25px;
      }

    &-text {
      font-size: 9px;
      text-transform: uppercase;
    }
  }
}

.board-game {
  padding-top: 8.5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  padding: 20px;
  background-color: white;


  &-item {
    text-align: center;
    font-size: 10px;

      #toDoCount, #doneCount {
    font-size:30px;

      }

    p {
      font-size:15px;
      text-transform: uppercase;
    }

    i {
        font-size: 60px;
      }
  }
}
