.experience-card {
  position: relative;
  display: flex;
  flex-flow:column;
  width:100%;
  margin: 5px;
  box-shadow: 1px 1px 1px #888888;
  &-title {
    vertical-align: center;
    font-size: 15px;
    margin: 0px;
    padding:12px;
    background-color: white;
    color: #0F243F;
  }
  &-block {
    height: 250px;
    position: relative;
    &-link {
      position:absolute;
      bottom: 0px;
      top: 0px;
      left: 0px;
      right: 0px;
      background-size: cover;
    }
    &-status {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  &-user {
    background-color: white;
    font-size: 15px;
    color: #0F243F;
    display:flex;
    justify-content: center;
    item-align: center;
    padding: 12px;
    em {
      padding-right: 10px;
    }
  }
}
// Details
.experience-details-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 10px;
    i {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid $red;
      background-color: white;
      border-radius: 50%;
    }
  }



