.card {

  position: relative;
  height: 250px;
  width:100%;
  max-width: 250px;
  margin: auto;
  background-color: #0F243F;
  border: 1px solid #0F243F;

  &-title {
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    font-size: 15px;
    color: #0F243F;
    margin: 0px;
    padding:5px;
  }

  &-user {
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    font-size: 15px;
    color: #0F243F;
    display:flex;
    justify-content: center;
    item-align: center;

    h2 {

    }

    &-avatar {
      height: 20px;
      width:20px;
      background-color:#0F243F;
      border-radius: 50%;
    }
  }


  // position: relative;
  // height: 175px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // color: white;
  // margin: 20px auto;
  // &-bg{
  //   background-size: cover;
  //   border-radius: 3px;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  // }
  // &-shadow {
  //   background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
  //   border-radius: 3px;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  // }
  // &-description {
  //   font-size: 10px;
  //   text-transform: uppercase;
  //   position: absolute;
  //   top: 10px;
  //   left: 10px;
  // }
  // &-text {
  //   position: absolute;
  //   bottom: 10px;
  //   left: 10px;
  //   h2 {
  //     font-size: 24px;
  //   }
  //   p {
  //     font-size: 13px;
  //   }
  // }
  // &-user {
  //   position: absolute;
  //   right: 10px;
  //   top: 10px;
  // }
  // &-link {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  //   z-index:2;
  //   background: black;
  //   opacity: 0;
  //   &:hover{
  //     opacity: 0.1;
  //   }
  // }
}
