.list-item {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
  color: white;
  height: 70px;
  // border-bottom: 1px $grey-lighter solid;
  a {
    color: white;
    :hover{
      color: white;
    }
  }
  &-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(-225deg, rgba(30, 10, 14, 0.3) 0%, rgba(40,12,14,0.3) 80%);
  }

  &-content {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
    margin-left: 50px;
    padding:25px;

  }

  &-status {
    position:absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    z-index: 2;
    color:white;
    padding: 25px;
  }

  &-category {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 20px;

    &-title {
      text-align:center;
      padding: 25px;
      font-size: 15px;
    }
  }

  &-link {
    position: absolute;
    top : 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:2;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
